<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mainPage {
            padding-inline: 50px;
            //background-color: cornsilk;
        }

        .header {
            background-color: bisque;
            border: 1px solid black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .bannerList {
            background-color: wheat;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: fit-content;
            gap: 30px;
            padding-inline: 20px;
        }

        .ProductsGrid {
            display: grid;
            grid-template-columns: auto auto;
            background-color: antiquewhite;
            padding: 20px;
            justify-content: space-around;
            border-radius: 90px;
            gap: 30px;
        }

        .Products {
            background-color: darkgrey;
            color: beige;
            display: flex;
            flex-direction: column;
            border: 5px solid whitesmoke;
            border-radius: 9px;
            cursor: pointer;
        }

            .Products:hover {
                box-shadow: 0 0 15px 15px rgb(236, 222, 141);
                transform: scale(1.2);
            }

            .Products img {
                border: 3px solid white;
            }

            .Products p {
                align-self: center;
                font-style: italic;
                font-variant: small-caps;
                font-size: 1.5vw;
            }

        .weddingItem {
            background-color: antiquewhite;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-evenly;
            padding: 20px;
            border-radius: 90px;
        }

            .weddingItem > div:not(:last-child) {
                border-right: 2px solid rgb(183, 183, 183);
                margin-right: 20px;
                padding: 20px;
            }

        .picture {
            background-color: rgb(139, 139, 139);
            color: beige;
            display: flex;
            flex-direction: column;
            border: 5px solid whitesmoke;
            border-radius: 9px;
        }

            .picture img {
                border: 3px solid antiquewhite;
            }

        .purchase {
            background-color: aliceblue;
            border: 2px solid aliceblue;
            padding: 20px;
            border-radius: 9px;
            display: flex;
            flex-direction: column;
        }

        .purchaseForm {
            background-color: rgb(251, 251, 251);
            border: 2px solid rgb(23, 23, 23);
            padding: 20px;
            gap: 10px;
            border-radius: 9px;
            display: flex;
            flex-direction: column;
        }

        .DisplayImages {
            border: 3px solid rgb(65, 50, 2);
            padding: 30px;
            width: 100%;
            position: relative;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>
<body class="mainPage Wedding">
    <div class="header">
        <ul class="bannerList">
            <li>
                <p>Home</p>
            </li>
            <li>
                <p>
                    Weddings
                </p>
            </li>
            <li>
                <p>
                    Birthdays
                </p>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <h1><u><i>Dessert Stand</i></u></h1>
    <br>
    <div class="weddingItem">
        <div class="picture">
            <h2>Dessert Stand</h2>
            <img src="../img/desertTableWedding.jpg" width="250vw" title="Tables">
        </div>

        <div class="purchase">
            <h2><b><u>Engage wedding today!</u></b></h2>
            <hr>
            <form class="purchaseForm">
                <div>
                    <label for="table">Select a product</label>
                    <select name="table&chair" id="table" required>
                        <option>-</option>
                        <option value="table">Tables</option>
                        <option value="chair">Chairs</option>
                    </select>
                </div>
                <label for="tableCountName">Select Quantitiy : </label>
                <input type="number" id="tableCount" name="tableCountName" min="1" max="90" placeholder="Quantity" required>
                <div>
                    <label for="startDate">Start Date :</label>
                    <input type="date" name="startDate" required>
                    <div>
                        <label for="rentalTime">Time : </label>
                        <select name="timeFrame" id="rentalTime" required>
                            <option>-</option>
                            <option value="Moring">Morning (7am-11am)</option>
                            <option value="Afternoon">Afternoon (11am-4pm)</option>
                            <option value="Evening">Evening (4pm-9pm)</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="endDate">Return Date :</label>
                    <input type="date" name="endDate" required>
                    <div>
                        <label for="rentalTime">Time : </label><select name="timeFrame" id="rentalTime" required>
                            <option>-</option>
                            <option value="Moring">Morning (7am-11am)</option>
                            <option value="Afternoon">Afternoon (11am-4pm)</option>
                            <option value="Evening">Evening (4pm-9pm)</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="weddingItem">
        <div>
            <h2><i>Description</i></h2>
            <hr>
            <p>
                Guest that come to witness your special time are important <br>
                Make sure to treat them like they are so by using our quality dessert stands to<br>
                Fill the joy spreading mouth of theirs <br>

            </p>
            <hr>
        </div>
        <fieldset style="border: 2px solid black; padding: 20px; width: 70%; align-content: center; display: grid; grid-template-columns: auto auto; column-gap: 20px;">
            <legend>Product description</legend>
            <div style="border: 2px dotted black;">
                <p>Product</p><hr> -> High quality Pva plastic tables for dessert and catering services.
                <p>-> Height : 100cm</p>
                <p>-> Width : 80cm</p>
                <p>-> Length : 150cm</p>
                <p>-> Weight : 10kg</p>
            </div>
        </fieldset>
    </div>
    <br>
    <br>
    <div class="weddingItem">
        <div>
            <h2><i><u>More Pictures</u></i></h2>
            <div class="DisplayImages">
                <img src="../img/desertTableWedding.jpg" width="150px">
                <img src="../img/dessertTable.jpg" width="150px">
                <img src="../img/desertTableWedding.jpg" width="150px">
                <img src="../img/dessertTable.jpg" width="150px">
                <img src="../img/desertTableWedding.jpg" width="150px">
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="weddingItem">
        <div>
            <h2><u><i>Terms and Conditions</i></u></h2>
            <ol>
                <li>
                    <p>Client must pay upfront before collecting product</p>
                </li>
                <li><p>Product must be returned compliance with pick up condition</p></li>
                <li><p>A bond of 50-150 will be required to be paid upfront before picking up the products and will be returned 2 days after</p></li>
                <li><p>An overtime fee will occur with penalties if return time exceeds booking time</p></li>
            </ol>
        </div>

    </div>
</body>
</html>